{% extends 'base.html' %}
  {% block title %}
  {% if item %}
  <title>PTC GH - Edit PO</title>
  {% else %}
  <title>PTC GH - Add PO</title>
  {% endif %}
  <style>
    /* Reset default styles */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif !important;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }
    .navbar-brand a{
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
    .success-message {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    margin-bottom: 10px;
}

    /* Define styles for error messages */
    .error-message {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 10px;
        margin-bottom: 10px;
    }





    .main-content {
      padding: 20px;
    }

    .form-container {
      width: 50%;
      margin: 20px auto;
    }

    .form-container > h2{
      text-align: center;
      margin-bottom: 20px;
      font-size: 30px;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    form input[type="text"],
    form input[type="date"],
    form input[type="number"],
    form input[type="file"],
    form select {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;
    }

    form input[type="checkbox"] {
      margin-right: 10px;
    }

    form button {
      text-decoration: none;
      width: 100%;
      background-color: #051147;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    /* Responsive styles */
    @media screen and (max-width: 768px) {
 


      .form-container {
        width: 100%;
       
      }

   
    }

  </style>
  {% endblock %}

  {% block nav %}
  <div id="navigation"><div class="navigation">
    <a href="{% url 'index' %}">Home</a>  /  
    <span><a href="">Forms</a></span> /
    <span><a class="active-nav" href="{% url 'po_form' %}">Add PO</a></span>
  {% endblock %}


{% block content %}
  
    <!-- Display messages if any -->
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="{% if message.tags == 'success' %}success-message{% elif message.tags == 'error' %}error-message{% endif %}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <section class="main-content">
    

      <div class="form-container">
        {% if item %}
        <h2>Edit PO</h2>
        <form method="post">
          {% csrf_token %}
          <label for="quoteNumber">PO Number</label>
          <input required value="{{ item.po_number }}" type="number" id="quoteNumber" name="po_number">

          <label for="description">Description</label>
          <input required value="{{ item.description }}" type="text" name="description" id="description">

       
          <label for="eventDate">PO Date</label>
          <input required value="{{ item.po_date|date:'Y-m-d' }}" type="date" id="eventDate" name="po_date">

          <label for="department">Department</label>
          <select name="department" id="department">
            <option value="{{ item.department }}">{{ item.department }}</option>
            {% for key,value in Departments.items %}
            <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
          </select>


          <label for="totalAmount">PO Amount</label>
          <input required value="{{ item.po_amount }}" type="number" id="totalAmount" name="po_amount">

     

          <button type="submit">Edit PO</button>
        </form>

        {% else %}

        <h2>Add PO</h2>
        <form method="post">
          {% csrf_token %}
          <label for="quoteNumber">PO Number</label>
          <input required type="number" id="quoteNumber" name="po_number">

          <label for="description">Description</label>
          <input required type="text" name="description" id="description">

       
          <label for="eventDate">PO Date</label>
          <input required type="date" id="eventDate" name="po_date">

          <label for="department">Department</label>
          <select name="department" id="department">
            {% for key,value in Departments.items %}
            <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
          </select>

          <label for="totalAmount">PO Amount</label>
          <input required type="number" id="totalAmount" name="po_amount">

     

          <button type="submit">Add PO</button>
        </form>

        {% endif %}
      </div>
    </section>
 

{% endblock %}